pkgbase = molden
	pkgdesc = Molecular builder and viewer of quantum chemistry calculations
	pkgver = 5.8
	pkgrel = 1
	url = http://www.cmbi.ru.nl/molden/molden.html
	install = molden.install
	arch = i686
	arch = x86_64
	groups = science
	groups = chemistry
	license = custom
	makedepends = gcc-fortran
	makedepends = makedepend
	depends = glu
	depends = libxmu
	depends = mesa
	provides = molden
	provides = gmolden
	provides = ambfor
	provides = ambmd
	source = ftp://ftp.cmbi.umcn.nl/pub/molgraph/molden/molden5.8.tar.gz
	source = gcc-10-allow-argument-mismatch.patch
	sha512sums = 8ba16e14f8144f2f829efe01a7ad6570f43b038e47675362b445580b0eed9b533680ba8d62b54c3b5e00215b2d1227211801462e229f038d70ace6c61a04c61a
	sha512sums = 22c7b925db2e0df05a1f1a7a36d848efd72f13d3e12605143ec52e78768df10756486389b3355df201761ba476376280da78845db56f0899fb4d1c1363c2a620

pkgname = molden

